html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.5;
    z-index: -1;
}

#main {
    padding: 40px 24px;
}
